.hl-contact {
  width: 100%;
  color: white;
  background: url(../images/bg-message.svg),
    linear-gradient(to right, #0e3e87, #0aa8dc);
  background-repeat: no-repeat;
  background-position: 95% 1%;
  padding: 5% 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hl-contact h1 {
  text-transform: uppercase;
}

.hl-contact h2 {
  font-weight: 400;
}

.form {
  padding: 1% 0;
  display: flex;
  justify-content: center;
}

.form iframe {
  width: 100%;
  height: 900px;
}
