.hl-profile {
  width: 100%;
  color: white;
  background: url(../images/bg-user.svg),
    linear-gradient(to right, #0e3e87, #0aa8dc);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 5% 5%;
  display: flex;
  justify-content: center;
}

.hl-meta {
  width: 800px;
  display: flex;
  align-items: center;
}

.hl-meta-avatar {
  max-width: 500px;
  max-height: 250px;
  margin-right: 26px;
}

@media (max-width: 960px) {
  .hl-meta {
    text-align: center;
    flex-direction: column;
  }

  .hl-meta-avatar img {
    width: 100%;
  }

  .hl-meta-contact {
    text-align: left;
  }
}

.hl-meta-info-name {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.hl-meta-info-text {
  font-size: 18px;
  margin-bottom: 2em;
}

.hl-meta-contact {
  margin-bottom: 28px;
}

.hl-meta-contact li {
  margin-bottom: 16px;
}

.hl-meta-contact li span {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 40px;
}

.hl-meta-contact li a {
  color: white;
  border-bottom: 1px dotted transparent;
}

.hl-meta-contact li a:hover {
  border-bottom-color: white;
}

.hl-meta-sm {
  display: flex;
}

.hl-meta-sm li {
  margin-right: 16px;
}

.hl-meta-sm li a {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5);
}

.hl-meta-sm li a:hover {
  font-size: 2em;
  color: rgba(255, 255, 255, 1);
}

.resume {
  max-width: 900px;
  color: #555;
  margin: 0 auto;
  padding: 5% 5%;
}

.resume h1 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

.resume p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.7;
}
