@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  /* transition: all 0.3s ease-in-out; */
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

/* HEADER ------------------------------------------------------------------ */
.header {
  width: 100%;
  background: linear-gradient(to right, #0e3e87, #0aa8dc);
  display: flex;
  justify-content: space-between;
  padding: 35px 5% 0;
}

/* navbar */
.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  padding-left: 40px;
}

.navbar .link-header {
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border-radius: 0.35em;
  padding: 10px 16px;

  transition: all 0.3s ease-in-out;
}

.navbar .link-header:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* HEADER - ARTICLE -------------------------------------------------------- */
.header-section {
  width: 100%;
  min-height: 640px;
  text-transform: uppercase;
  color: white;
  background: url(../images/bg-header.svg),
    linear-gradient(to right, #0e3e87, #0aa8dc);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 5%;
  position: relative;
  z-index: 99;
}

.header-section::after {
  content: "";
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #0e3e87, #0aa8dc);
  transform: skewY(-2deg);
  position: absolute;
  bottom: -35px;
  left: 0;
  z-index: 1;
}

.header-article {
  width: 70vh;
  margin-top: 10%;
}

/* main-article */
.header-article-title a {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.4;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px dotted transparent;
  transition: all 0.2s ease-in-out;
}

.header-article-title a:hover {
  border-bottom: 1px dotted white;
}

/* meta-article */
.header-article-meta ul {
  padding: 0;
  display: flex;
  align-items: center;
}

.header-article-meta li {
  margin-right: 16px;
}

.header-article-meta .meta-source {
  background-color: #0aa8dc;
  padding: 10px;
}

.header-article-meta .meta-source span {
  font-weight: 700;
  text-transform: capitalize;
}

.header-article-meta .meta-source a {
  text-transform: lowercase;
  color: white;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.header-article-meta .meta-source a:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

/* HIGHLIGHTED-CARDS ------------------------------------------------------- */
.hl-cards {
  width: 100%;
  padding: 6% 5% 5%;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* card */
.card {
  max-width: 450px;
  margin: 26px;
  background: white;
  transition-property: box-shadow, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.card:hover {
  box-shadow: 0 0 15px 10px #efefef;
  transform: scale(1.06, 1.06);
}

/* card image */
.card-img {
  width: 100%;
}

.card .card-img .img-el {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

/* card body */
.card .card-body {
  color: #5b5656;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

/* card-body title */
.card .card-body-title {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.4;
}

.card .card-body-title a {
  color: inherit;
  background: transparent;
  border-bottom: 1px dotted transparent;
  transition: all 0.2s ease-in-out;
}

.card .card-body-title a:hover {
  color: #0e3e87;
  background: rgba(139, 132, 132, 0.1);
  border-bottom-color: rgba(14, 63, 135, 1);
}

/* card-body subtext */
.card .card-body-subtext {
  color: #757575;
}

/* card-body meta */
.card .card-body-meta {
  padding: 0;
  display: flex;
  align-items: center;
}

.card .card-body-meta li {
  margin-right: 16px;
}

/* card-body meta-source */
.card .card-body-meta .meta-source {
  color: white;
  padding: 10px;
  background: #0aa8dc;
}

.card .card-body-meta .meta-source a {
  color: white;
}

.card .card-body-meta .meta-source span {
  font-weight: 700;
}

/* FOOTER ------------------------------------------------------------------ */
.footer {
  width: 100%;
  padding: 1em 2em 0.2em;
  background: linear-gradient(to right, #0e3e87, #0aa8dc);
  position: relative;
}

/* .footer::before { */
/*   content: ""; */
/*   width: 100%; */
/*   height: 70px; */
/*   background: linear-gradient(to right, #0e3e87, #0aa8dc); */
/*   transform: skewY(-2deg); */
/*   position: absolute; */
/*   top: -35px; */
/*   left: 0; */
/* } */

.footer .footer-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer .footer-info li {
  margin: 10px 0;
}

/* footer logo */
.footer .footer-info .footer-logo {
  text-align: center;
}

.footer .footer-info .footer-logo img {
  width: 70%;
}

/* footer menu */
.footer .footer-info .footer-menu {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
}

.footer .footer-info .footer-menu li {
  margin-right: 2em;
  margin-left: 2em;
}

.footer .footer-info .footer-menu li a {
  color: white;
  border-bottom: 1px dotted transparent;
  transition: border 0.2s ease-in-out;
}

.footer .footer-info .footer-menu li a:hover {
  color: white;
	border-bottom-color: white;
}
