@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

/* HEADER ------------------------------------------------------------------ */
.header {
  width: 100%;
  background: linear-gradient(to right, #0e3e87, #0aa8dc);
  display: flex;
  justify-content: space-between;
  padding: 35px 5% 0;
}

/* navbar */
.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  padding-left: 40px;
}

.navbar .link-header {
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border-radius: 0.35em;
  padding: 10px 16px;

  transition: all 0.3s ease-in-out;
}

.navbar .link-header:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* HEADER - ARTICLE -------------------------------------------------------- */
.header-section {
  width: 100%;
  min-height: 640px;
  text-transform: uppercase;
  color: white;
  background: url(../images/bg-header.svg),
    linear-gradient(to right, #0e3e87, #0aa8dc);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 5%;
  position: relative;
  z-index: 99;
}

.header-article {
  width: 70vh;
  margin-top: 10%;
}

/* main-article */
.header-article-title a {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.4;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px dotted transparent;
  transition: all 0.2s ease-in-out;
}

.header-article-title a:hover {
  border-bottom: 1px dotted white;
}

/* meta-article */
.header-article-meta ul {
  padding: 0;
  display: flex;
  align-items: center;
}

.header-article-meta li {
  margin-right: 16px;
}

.header-article-meta .meta-source {
  background-color: #0aa8dc;
  padding: 10px;
}

.header-article-meta .meta-source span {
  font-weight: 700;
  text-transform: capitalize;
}

.header-article-meta .meta-source a {
  text-transform: lowercase;
  color: white;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.header-article-meta .meta-source a:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
